<h1 style="border-bottom: 1px">{{title}}</h1>
<small>{{date}}</small>
<small style="float:right"><a href="/">See All Posts</a></small>
<div style="margin-top: 20px; border-top: 1px solid; padding-top: 20px">
  {{{html}}}
</div>
